<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
</head>
<body>

  <h1>Available Courses</h1>

  <ul>
    <% courses.forEach(function(course) { %>
      <li><%= course %></li>
    <% }) %>
  </ul>

</body>
</html>